@model K2.Models.ProductViewModel
@{
    ViewBag.Title = "Grid2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Grid2</h2>
@(Html.Kendo().Grid<K2.Models.ProductViewModel>()
      //.Events(e => e.DataBound("grid_Databound_Handler")) 
      .Name("grid")
      .DataSource(dataSource => dataSource
          .Ajax()
          //.Aggregates(aggregates =>
          //{
          //  aggregates.Add(p => p.UnitsInStock).Sum().Max();
          //  aggregates.Add(p => p.UnitPrice).Average();  
          //}) 
          .Read(read => read.Action("LoadGrid2", "Home") // Set the action method which will return the data in JSON format
               )
        .Model(model => {
            model.Id(p => p.ProductID);
            model.Field(p => p.ProductID);
            model.Field(p => p.ProductName);
            model.Field(p => p.CompanyName);
            model.Field(p => p.CategoryName);
            model.Field(p => p.UnitPrice);
            model.Field(p => p.UnitsInStock);
        })
        //.Update(update => update.Action("EditingPopup_Update", "Home"))
      )
      .Columns(columns =>
      {
          columns.Bound(product => product.ProductName);
          columns.Bound(product => product.CompanyName);
          columns.Bound(product => product.CategoryName);
          columns.Bound(product => product.UnitPrice);
          columns.Bound(product => product.UnitsInStock);
          //columns.Bound(product => product.UnitPrice).ClientGroupFooterTemplate("Avg: #=average#").ClientFooterTemplate("Avg: #=average#");
          //columns.Bound(product => product.UnitsInStock).ClientGroupFooterTemplate("Count: #=sum#").ClientFooterTemplate("Count: #=sum#");
          //columns.Command(command => { command.Edit(); }); 
         
      })
      .Pageable()
      //.Filterable()
      //.Sortable()
      //.Groupable()
      //.Editable(editable => editable.Mode(GridEditMode.PopUp)) 
)

<script>
    function grid_Databound_Handler() {
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            var qtyRx = row.UnitsInStock;

            if (qtyRx < 10) {
                //Change the background color of QtyReceived here
                $('tr[data-uid="' + row.uid + '"] td:nth-child(5)').css("background-color", "red");
            }
        });
    }
</script>